:root{
    /* Primary */

    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    /* Neutral */

    --dark-gray: hsl(0, 0%, 59%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-color: hsl(185, 75%, 39%);
    

}


.card-container{
    width: 340px;
    height: 410px;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#img-victor{
    width: 105px;
    position: relative;
    bottom: 42px;
    left: 120px;
    
    border:  4px solid #FFFF;
    border-radius: 50%;
}


#img-top-card{
    border-radius: 10px 10px 0 0 ;
}

.card-container{
    background-color: #FFFF;
}

h1{
    margin-top: 0;
    font-size: 18px;
}

span{
    font-weight: lighter;
    color: var(--very-dark-desaturated-blue);
}

.victor{
    text-align: center;
}

.victor p {
    font-size: 14px;
    color: var(--dark-gray);
    margin-top: 8px;
    margin-bottom: 25px;
}

.text-container{
    
    padding: 10px;
}

hr{
    border: 0;
    height: 1px;
    background: hsla(0, 7%, 84%, 0.548);
    
    
}

.numbers-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 62px;
}
.numbers-container h1{
    margin-bottom: 3px;
}

.numbers-container span{
    font-size: 13px;
    color: var(--dark-gray);
    text-align: center;
}

.card-number{
    display: flex;
    flex-direction: column;
    
    
}